<html>
    <head>
        
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/7eab681c0c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="test.component.css">
        
            </head>
<body>
    <form >
        
        <i class="fas fa-user-circle" style="margin-left: 580px;margin-top: 50; font-size:50px;color: rgb(216, 214, 214);"></i>
        <div class="welcome"><br><br>
            <h3 style="letter-spacing: 5px; font-style: normal; position: relative;">  CREER UN COMPTE</h3>
        </div>
    <div class="sign_up"><br><br>
            <input type="text" placeholder="Nom d'utilisateur" name="nom" id="nom"  ngModel style="border-radius: 40px; "required>
      <br><br>
      <input type="email" placeholder="Adresse EMAIL" name="psw" id="psw" ngModel style="border-radius: 40px; "required>
      <br><br>
      <input type="text" placeholder="Mot de passe" name="psw" id="pswt" ngModel style="border-radius: 40px;"required>
      <br><br>
      <input type="numero" placeholder="numero telephonique" name="nbr" id="nbr" ngModel style="border-radius: 40px;"required>
      <br><br><br>
  
      <a href="../connexion/connexion.component.html" class="fas fa-arrow-circle-right" ></a>
    </div>
  
    
  </form>
 
</body>
</html>