<html>
    <head>
        
        <title>test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/7eab681c0c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="connexion.component.css">
        <style>
           
            </style>
            </head>
<body>
    <form >
        
        <i class="fas fa-user-circle" style="margin-left: 580px;margin-top:70; font-size:50px;color: rgb(216, 214, 214);"></i>
        <div class="welcome"><br><br>
            <h3 style="letter-spacing: 5px; font-style: normal; position: relative;">  BIENVENUE</h3>
        </div>
    <div class="sign_up"><br><br>
        <div class="user">
        <i class="fas fa-user" style="margin-left: 30px;"></i>
            <input type="text" placeholder="Nom d'utilisateur" name="nom" id="nom"  ngModel style="border: none; " >
        </div>
            <br><br>
      
      <br><br>
      <div class="passw">
      <i class="fas fa-lock" style="margin-left: 30px;"></i>
      <input type="text"  placeholder="Mot de passe" name="psw" id="pswt" ngModel style="border: none;">
      </div>
      <br><br>
      
      <br><br><br>
  
      <button  class="but" type="submit" style="border-radius: 30px;" href="../connexion/connexion.component.html">connexion
      </button>
      <br> <br>
      <a href="#" style="color: white;font-size: 10px; margin-left: 148px;text-decoration:none; "> Mot de passe oublié?</a>
        </div>
  
    
  </form>
 
</body>
</html>